<div class="row container-fluid">
  <div class="col-sm-8 offset-2">
    <h4 class="panel-heading">Your Active Cart</h4>
    <div class="row panel-body" id="cart">
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>

      <div class="row">
        <form class="soofa" action="/checkout" method="POST" id="checkout">
          <input type="number" name="amount" id="amount" value="10" hidden />
          <input type="text" name="reference" value="NodeJs Demo" hidden />
          <input type="text" name="tid" value="" hidden />
          <input
            id="ww"
            type="button"
            class="qbn-submit btn btn-sm btn-success"
            value="Checkout"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  if (localStorage.getItem("cart") !== null) {
    const cartedItems = JSON.parse(localStorage.cart);
    let totalPrice = 0;
    cartedItems.forEach(element => {
      totalPrice +=
        parseInt(element.price, 10) * parseInt(element.quantity, 10);
      document.getElementById("tbody").innerHTML += `<tr>
            <td>${element.added_product}</td>
            <td>${element.price}</td>
            <td>${element.quantity}</td>

            <td>
              <form
                action="/remove"
                method="POST"
                id="remove"
              >
              <input type="text" name="product" value="${element.added_product}" hidden />
                <button
                  title="Remove from cart"
                  type="submit"
                  class=" btn btn-danger"
                >
                  <i class="fa fa-trash ml-1"></i>
                </button>
              </form>
            </td>
          </tr>`;
    });
    document.getElementById("amount").value = totalPrice;
  } else {
    document.getElementById(
      "cart"
    ).innerHTML = `<h3 class="text-centre">You have not added items to the cart yet</h3>`;
  }
</script>
